/*SOBRE*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px 20px;
    background-color: #8f2faf;
    color: #f1f1f1;
    p {
        margin-bottom: 2.5em;
        max-width: 1000px;
    }
    .botao {
        background-color: #f1f1f1;
        color: #4d4d4d;
    }
}


/*SERVIÇOS*/

#servicos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
}


/*PORTIFÓLIO*/

#portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    h2 {
        margin-bottom: 20px;
    }
    img {
        width: 85%;
        max-height: 250px;
    }
}

/*CONTATO*/
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    img {
        width: 60%;
    }
}


