/*NAVEGAÇÃO*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
    ul {
        list-style: none;
        padding: 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        li {
            width: 100%;
            text-align: center;
            padding: 15px 0;
            transition: .5s ease all;
            &:hover {
                background-color: #f0f;
                
            }
            a {
                display: inline-block;
                padding: 10px 0;
                width: 100%;
                text-decoration: none;
                color: #f1f1f1;

            }
            
        }
    }
    >a {
        text-decoration: none;
        color: #f1f1f1;
        font-weight: 28px;
        font-family: pacifico, serif;
    }
}

